<div class="container">
  <div class="jumbotron">
    <div style="text-align: center">
      <h1>Receitas</h1>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">

    <div class="panel-heading">Prescrever Receita</div>

      <div class="panel-body">
        <ol>
          <!--obrigatorios-->
          <li>
            <label>Utente: </label>
            <input type="text" [(ngModel)]="utente" required/>
          </li>
          <li>
            <label>Data: </label>
            <input type="date" [(ngModel)]="data" required/>
          </li>
          <li>
            <label>Local: </label>
            <input type="text" [(ngModel)]="local" />
          </li>
        </ol>

        <label>Adicionar prescrição</label>

        <button type="button" class="btn btn-xs" id="btn" (click)="verForm=!verForm">{{verForm? '' : 'Adicionar prescrição'}}</button>
        <br>
        <div [class.hidden]="!verForm">

          <label>Quantidade: </label>
          <input type="text" [(ngModel)]="quantidade" />
          <label>Validade: </label>
          <input type="date" [(ngModel)]="validade" />

          <label *ngIf="apresentacoes">Seleccione a apresentação</label>

          <select [(ngModel)]="apresentacaoSelec" required>
            <option *ngFor="let apresentacao of apresentacoes" [ngValue]="apresentacao">
              {{apresentacao.id}}
            </option>
          </select>
          <div *ngIf="apresentacaoSelec">
            <p>Medicamento: {{apresentacaoSelec.medicamento}}</p>
            <p>Fármaco: {{apresentacaoSelec.farmaco}}</p>
            <p>Forma: {{apresentacaoSelec.forma_adm}}</p>
            <p>Dosagem: {{apresentacaoSelec.dose}}</p>
            <p>Concentração: {{apresentacaoSelec.concentracao}}</p>
            <p>Quantidade Embalagem: {{apresentacaoSelec.qtd}}</p>

            <h3>Posologia</h3>

            <p>Dose: {{apresentacaoSelec.dose}}</p>
            <p>Via Administração: {{apresentacaoSelec.via_administracao}}</p>
            <p>Intervalo Tempo (horas): {{apresentacaoSelec.intervalo_tempo_horas}}</p>
            <p>Periodo Tempo (dias): {{apresentacaoSelec.periodo_tempo_dias}}</p>

            <button type="button" class="btn btn-success" (click)="seleccionarApresentacao(apresentacaoSelec)">Adicionar</button>  
          </div>
         
          
          <ul class="aprSel">
              <li *ngFor="let ap of idsApSelec" (click)="selecciona(apresentacaoSelec.id)" [class.selected]="ap === apresentacaoSelec">
                <span class="hero-element">
                  <span class="badge">{{ap}}</span> {{ap.dose}}
                </span>
                <button class="delete-button" (click)="removeApresentacao(ap)">Remover</button>
              </li>
            </ul>



        </div>
        <div style="text-align:center" >
        <button type="button"   class="btn btn-info" (click)="inserirReceita(utente, prescricoes)">Criar</button>
        </div>
        <div class="alert alert-warning" *ngIf="error">
          <strong>Erro </strong>{{error}}
        </div>

        <div class="alert alert-warning" *ngIf="!utente || !data || !idsApSelec">
          <p>Verifique os campos obrigatórios (utente, data e uma prescrição)</p>
        </div>
      </div>

  </div>
</div>