<div class="container">

  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Receita </div>

      <div class="panel-body">
        <div>
          <label>Id: </label>
          <p>{{receita._id}}</p>

          <label>Medico:</label>
          <p>{{receita.medico}}</p>

          <label>Utente:</label>
          <p>{{receita.utente}}</p>

          <label>Local:</label>
          <p>{{receita.local}}</p>

        </div>
      </div>

   

    <div class="col-md-6 col-md-offset-3">
      <h1>Prescricoes</h1>

    
      <div>

        <ul>
          <!--</ul> *ngFor="let receita of receitas">-->
          <li *ngFor="let prescricao of receita?.prescricoes">cuc{{prescricao.quantidade}}</li>
      </ul>

        <button type="button" class="btn btn-info" (click)="ver()">Ver</button>

      </div>
    </div>

    <div class="error" *ngIf="error">{{error}}</div>

    <button (click)="voltar()">Voltar</button>
  </div>
</div>