<div class="container">

  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Receita </div>

      <div class="panel-body">
        <div>
          <label >Id: </label>
          <p >{{receita._id}}</p>

          <label>Medico:</label>
          <p>{{receita.medico}}</p>

          <label>Utente:</label>
          <p>{{receita.utente}}</p>

          <label>Local:</label>
          <p>{{receita.local}}</p>

          <label>Prescrições:</label>
          <ol>
            <!--</ul> *ngFor="let receita of receitas">-->
            <li *ngFor="let prescricao of receita?.prescricoes">{{prescricao._id}} - <label>{{prescricao.fechada? 'Fechada' : 'Aberta' }}</label>
                    <style>
                      .hidden { visibility: hidden}
                    </style>
                    <button type="button" class="btn btn-info btn-xs" id="btn" (click)="showNgFor=!showNgFor; selectId=prescricao._id">{{showNgFor ? 'Esconder' : 'Ver'}}</button>
                    
                    <div *ngIf="selectId===prescricao._id">
                    <table [class.hidden]="!showNgFor">
                      <tbody>
                          <label>Quantidade: </label>{{prescricao.quantidade}}
                          <label>Validade: </label>{{prescricao.validade |  date: 'dd/MM/yyyy'}}
                          <p><label>Medicamento: </label>{{prescricao.apresentacao.medicamento}}
                          <label>Forma: </label>{{prescricao.apresentacao.forma}}
                          <label>Dosagem: </label>{{prescricao.apresentacao.dosagem}}
                          <label>Medicamento: </label>{{prescricao.apresentacao.medicamento}}
                          </p>
                          <p><label>Princípio Ativo: </label>{{prescricao.apresentacao.farmaco}}
                          <label>Quantidade Embalagem: </label>{{prescricao.apresentacao.quantidade_embalagem}}
                          <label>Dose: </label>{{prescricao.apresentacao.posologia.dose}}

                           </p>               
                          <button type="button" class="btn btn-xs" id="btn" (click)="verPos=!verPos">{{verPos ? 'Esconder Posologia' : 'Ver Posologia Prescrita'}}</button>
                          <br>
                          <div [class.hidden]="!verPos">

                              <label>Dose: </label>{{prescricao.apresentacao.posologia.dose}}
                              <label>Via Administração: </label>{{prescricao.apresentacao.posologia.via_administracao}}
                            <br> <label>Intervalo (horas): </label>{{prescricao.apresentacao.posologia.intervalo_tempo_horas}}
                             <label>Período tempo (dias): </label>{{prescricao.apresentacao.posologia.periodo_tempo_dias}}
                             
                          </div>


                      </tbody>
                    </table>
                  </div>  
                       <br>       
           </li>

          </ol>

        </div>

      </div>
      <button (click)="voltar()">Voltar</button>
    </div>

    <div class="panel panel-danger" class="error" *ngIf="error">
      <div class="panel-heading">Erro</div>
      <div class="panel-body">{{error}}</div>
    </div>
</div>