<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--BARRA SUPERIOR-->
  <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="/about">About us</a>
        </li>
        <li>
          <a href="/contact">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="jumbotron" style="padding-left:130px;">
    <div style="text-align: center">
      
      <h1>Bemvindo à aplicação {{title}}!</h1>
     <p>A nossa aplicação permite pesquisar medicamentos. Permite aos médicos prescrever receitas, aos farmaceuticos aviar
      receitas e aos utentes pesquisar receitas e muito mais!</p>
     <!-- 
      FIXME - INTRODUZIR LOGOS 
      <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
     -->
    </div>
  </div>
  
  <div class="container">
      <div class="col-md-6">
          
             <form class="form-signin">
                 <h2 class="form-signin-heading">Introduza as suas credenciais</h2>
                 
                 <!--FORMULARIO EMAIL-->
                <!-- <label for="inputEmail" class="sr-only">Email</label>
                 <input type="email" id="inputEmail" class="form-control" placehoder=
                 "Email" required autofocus>
 
                 <label for="inputPassword" class="sr-only">Password</label>
                 <input type="password" id="inputPassword" class="form-control" placehoder=
                 "Password" required>
             </form>  
            -
 
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button> 
          </button>  
      </div>        
      <div class="col-md-6">
          outra coluna
      </div>
 </div>
-->